body {
    background: #F3F5FC;
    padding: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    display: inline-block;
    width: 120px;
    height: 48px;
    text-align: center;
}

.img-responsiva {
    max-width: 100%;
    height: auto;
}

.seccion-principal {
    display: inline-block;
    width: 886px;/*960*/
    height: 904px;
    vertical-align: top;
}

.seccion-principal textarea {
    position: absolute;
    left: 200px;
    top: 168px;
    width: 577px;
    height: 60%;
    resize: none;
    border: 0;
    background: #F3F5FC;
    font-size: 30px;
    line-height: 150%;
    color: #0A3871;
}

.seccion-principal textarea:focus{
    outline: none;
}

.legenda {
    position: absolute;
    left: 200px;
    top: 851px;
    display: flex;
    align-items: center;
}

.legenda span {
    margin-left: 8px;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.botones {
    position: absolute;
    left: 200px;
    top: 885px;
    width: 680px;
    height: 67px;
}

.btn-encriptar {
    width: 314px;
    height: 67px;
    margin-right: 20px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #FFF;
    font-size: 16px;
    line-height: 19px;
    transition: 500ms;
    cursor: pointer;
}

.btn-encriptar:hover {
    background: #083061;
    transform: scale(1.02);
}

.btn-desencriptar {
    width: 314px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-size: 16px;
    line-height: 19px;
    transition: 500ms;
    cursor: pointer;
}

.btn-desencriptar:hover {
    background: #B0BED1;
    transform: scale(1.02);
}

.seccion-texto-encriptado {
    position: absolute;
    left: 926px;
    top: 40px;
    display: inline-block;
    width: 400px;
    height: 944px;
    background: #FFF;
    border-radius: 32px
}

.con-texto {
    padding: 32px;
    /*display: none;*/
}

.con-texto textarea {
    width: 336px;
    height: 781px;
    resize: none;
    margin-bottom: 25px;
    border: 0;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.con-texto textarea:focus {
    outline: none;
}

.btn-copiar {
    width: 314px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #FFF;
    color: #0A3871;
    font-size: 16px;
    line-height: 19px;
    transition: 500ms;
    cursor: pointer;
}

.btn-copiar:hover {
    background: #DBDBDB;
    transform: scale(1.02);
}

.sin-texto {
    width: 336px;
    text-align: center;
    margin: 0 auto;
    /* display: none;*/
}

.sin-texto img {
    margin-top: 243px;
}

.aviso {
    height: 58px;
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}

.descripcion-aviso {
    height: 48px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

@media screen and (max-width: 480px){

    body {
        padding: 16px;
    }

    h1 {
        width: 32px;
        padding: 8px 0;
    }

    .seccion-principal textarea, .legenda, .botones, .seccion-texto-encriptado {
        position: static;
    }

    .seccion-principal {
        height: auto;
        margin-bottom: 64px;
    }

    .seccion-principal, .seccion-principal textarea {
        width: 100%;
    }

    .seccion-principal textarea {
        margin-top: 56px;
        font-size: 29px;
        height: 290px;
        margin-bottom: 9px;
    }

    .botones {
        width: auto;
        height: auto;
        margin-top: 16px;
    }

    .btn-encriptar {
        width: 100%;
        margin-bottom: 24px;
    }

    .btn-desencriptar {
        width: 100%;
    }

    .seccion-texto-encriptado {
        width: 95%;
        height: auto;
        display: block;
        margin: 0 auto 24px auto;
        padding: 32px 0;
    }

    .con-texto {
        padding: 32px 32px 0 32px;
    }

    .con-texto textarea {
        width: 100%;
        height: auto;
    }

    .btn-copiar {
        width: 100%;
    }

    .sin-texto {
        width: auto;
    }

    .sin-texto img {
        display: none;
    }

    .aviso {
        margin: 0;
    }
}
